{% extends "base.html" %}
{% load static %}
{% block title %}User{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/user/main/base.css' %}" type="text/css"/>
{% endblock head %}
{% block content %}
    <div class="page">
        <div class="user_page">
            <div class="header">
                <img src="{% static 'images/avatar.png' %}" alt="Avatar" class="avatar">
                <p>First name: {{ user.first_name }}</p>
                <p>Last name: {{ user.last_name }}</p>
                <p>Email: {{ user.email }}</p>
                <p>Company: {{ user.department.company.name }}</p>
                <p>Department: {{ user.department.name }}</p>
                <p>Post: {{ user.post }}</p>
            </div>
            <div class="exer">
                <p class="exer1"><a href="{% url 'change-data' %}">Edit your own data</a></p>
                <p class="exer1"><a href="{% url 'change-password' %}">change password</a></p>
                <p class="exer1"><a href="{% url 'account_logout' %}">Log out</a></p>
            </div>
        </div>
        <div class="calendar">
            <div class="filter">
                <p>filter</p>
            </div>
            <div class="calendar1">
                <h2>Calendar</h2>
                    <form method="POST">
                        {% csrf_token %}
                        <select name="month">
                          {% for month in months %}
                                <option value="{{ month }}" {% if forloop.counter == current_month %}selected{% endif %}>{{ month }}</option>
                          {% endfor %}
                        </select>
                        <select name="year">
                            {% for year in years %}
                                <option value="{{ year }}" {% if year == current_year %}selected{% endif %}>{{ year }}</option>
                            {% endfor %}
                        </select>
                        <button>apply</button>
                    </form>
                <p></p>
                <table align="center">
                  <tbody>
                    <tr>
                      <th>Monday</th>
                      <th>Tuesday</th>
                      <th>Wednesday</th>
                      <th>Thursday</th>
                      <th>Friday</th>
                      <th>Saturday</th>
                      <th>Sunday</th>
                    </tr>
                    {% for week in weeks %}
                        <tr>
                            {% for day in week %}
                                <td>
                                    {% if day is not None %}
                                        {% if not day.is_working_day %}
                                            <font color="red">{{ day.num }}</font>
                                        {% else %}
                                            {{ day.num }}
                                        {% endif %}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}